<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificación de propuesta rechazada</title>
    <style>
        :root {
            --primary-color: <%= colors.primary %>;
            --secondary-color: <%= colors.secondary %>;
            --primary-button-color: <%= colors.primaryButton %>;
            --secondary-button-color: <%= colors.secondaryButton %>;
        }

        body {
            font-family: 'Alte Haas Grotesk', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            padding: 20px;
            background: linear-gradient(to right, var(--primary-color), var(--secondary-color)) !important;
            color: #ffffff;
        }

        .header h1 {
            margin: 0;
        }

        .content {
            padding: 20px;
        }

        .details {
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 8px;
            margin-top: 20px;
        }

        .footer {
            text-align: center;
            padding: 20px;
            background: linear-gradient(to right, var(--primary-color), var(--secondary-color)) !important;
            color: #ffffff;
        }

        .footer img {
            max-width: 200px;
            margin-top: 10px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: var(--primary-button-color);
            border-color: var(--primary-button-color);
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
        }

        .button:hover {
            background-color: var(--secondary-button-color);
            border-color: var(--secondary-button-color);
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Propuesta denegada</h1>
        </div>
        <div class="content">
            <p>Estimado/a <%= name %>,</p>
            <p>Lamentamos informarte de que tu propuesta ha sido <strong>rechazada</strong>. Agradecemos tu interés y
                participación en el proceso.</p>
            <p>Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos.</p>
            <p>Puedes encontrar más detalles acerca del motivo más abajo.</p>
        </div>
        <div class="details">
            <h2>Detalles de la propuesta</h2>
            <p><strong>Título:</strong> <%= proposal.title %></p>
            <p><strong>Descripción:</strong> <%- proposal.description %></p>
            <p><strong>Motivo:</strong> <%- reason %></p>
        </div>
        <div class="footer">
            <p>Atentamente,<br><%= texts.delegationName %></p>
            <img src="<%= serverUrl %>/img/logo_WH.png" alt="<%= texts.delegationName %>">
        </div>
    </div>
</body>

</html>