<div class="container mt-5">
    <!-- Header Section -->
    <div class="text-center">
        <h1>Propuestas para el Rector</h1>
        <p class="lead">Comparte tus ideas para la mejora de nuestra universidad.</p>
        <button class="btn btn-primary" hx-get="/api/proposals/draft-form" hx-target="#proposalDraftModal"
            hx-on::after-request="$('#proposalDraftModal').modal('show');">Aportar
            Propuesta</button>
    </div>

    <!-- Proposal Modal -->
    <div class="modal modal-lg fade" id="proposalDraftModal" tabindex="-1" aria-labelledby="proposalModalLabel"
        aria-hidden="true">
    </div>

    <!-- Modal para mostrar detalles de la propuesta -->
    <div class="modal fade" id="proposalDetailModal" tabindex="-1" aria-labelledby="proposalDetailModalLabel"
        aria-hidden="true"></div>

    <!-- Search and Filter Section -->
    <div class="mt-5">
        <div class="row mb-4">
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchInput"
                    placeholder="Buscar propuestas por título o palabras clave">
            </div>
            <div class="col-md-4">
                <select id="filterCategory" class="form-select">
                    <option value="">Filtrar por categoría</option>
                    <option value="Educación">Educación</option>
                    <option value="Infraestructura">Infraestructura</option>
                    <option value="Servicios">Servicios</option>
                </select>
            </div>
            <div class="col-md-2">
                <button id="clearFilters" class="btn btn-secondary w-100">Limpiar</button>
            </div>
        </div>
    </div>

    <!-- Proposals Section -->
    <div id="proposalsContainer" class="row gy-4">
        <% proposals.forEach((proposal)=> { %>
            <div id="proposal-card-<%= proposal._id.toString() %>" class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= proposal.title %>
                        </h5>
                        <p class="card-text">
                            <%= proposal.description.substring(0, 100) %>...
                        </p>
                        <% proposal.categories.forEach((category)=> { %>
                            <span class="badge bg-primary">
                                <%= category %>
                            </span>
                            <% }) %>
                                <p class="mt-2">Apoyos: <%= proposal.supporters %>
                                </p>
                                <p>Candidatos que apoyan: <%= proposal.candidatesSupporters %>
                                </p>
                                <button class="btn btn-link view-more"
                                    hx-get="/api/proposals/<%= proposal._id.toString() %>"
                                    hx-target="#proposalDetailModal"
                                    hx-on::after-request="$('#proposalDetailModal').modal('show')">Ver más</button>
                                <% if (user?.supportedProposals.includes(proposal._id.toString())) { %>
                                    <button class="btn btn-outline-success"
                                        hx-delete="/api/proposals/<%= proposal._id.toString() %>/support"
                                        hx-on::beforeRequest="/*$(this).prop('disabled', true);*/ $('.support-button-spinner').show()"
                                        hx-target="#proposal-card-<%= proposal._id.toString() %>"><span
                                            class="spinner-border spinner-border-sm support-button-spinner"
                                            aria-hidden="true"></span> Apoyando</button>
                                    <% } else { %>
                                        <button class="btn btn-success"
                                            hx-post="/api/proposals/<%= proposal._id.toString() %>/support"
                                            hx-on::beforeRequest="/*$(this).prop('disabled', true);*/ $('.support-button-spinner').show()"
                                            hx-target="#proposal-card-<%= proposal._id.toString() %>"><span
                                                class="spinner-border spinner-border-sm support-button-spinner"
                                                aria-hidden="true"></span> Apoyar</button>
                                        <% } %>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>


    <script src="./js/script.js"></script>

</div>