<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participa DA-UPM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/timeline.css">
    <link rel="icon" href="./img/favicon.png" sizes="192x192">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <style>
        :root {
            --primary-color: <%= colors.primary %>;
            --secondary-color: <%= colors.secondary %>;
        }
    </style>
</head>

<body hx-ext="response-targets" hx-headers='{"X-Requested-With": "XMLHttpRequest"}' hx-target-error="#toastr-container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-daupm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img id="logo" src="./img/logoRector_WH.png" alt="Logo DAUPM">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav" 
                 hx-get="/nav-menu" 
                 hx-trigger="load"
                 hx-swap="innerHTML">
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Cargando...</span>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <% if (user==null) { %>
                            <a class="nav-link" href="/login">Iniciar sesión</a>
                            <% } else { %>
                                <a class="nav-link">
                                    <%= user.name %>
                                </a>
                            <% } %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div id="main-content" class="container" style="min-height: calc(95vh - var(--nav-height) - var(--footer-height));">

        <%- body %>
    </div>

    <div id="toastr-container"><%- toasts %></div>

    <footer class="bg-daupm text-white py-4 mt-auto">
        <div class="container">
            <div class="row">
                <!-- Primera columna -->
                <div class="col-md-6 mb-3">
                    <h5 class="text-uppercase fw-bold">Contacto</h5>
                    <ul class="list-unstyled">
                        <li><%= texts.delegationName %></li>
                        <li>Universidad Politécnica de Madrid</li>
                        <li><strong>Teléfono:</strong> <%= texts.phoneNumber %></li>
                        <li><strong>Email:</strong> <a href="mailto:<%= texts.email %>" class="text-white"><%= texts.email %></a></li>
                        <li><strong>Web:</strong> <a href="http://<%= texts.web %>" class="text-white"><%= texts.web %></a></li>
                    </ul>

                </div>
                <!-- Segunda columna -->
                <div class="col-md-6 mb-3">
                    <h5 class="text-uppercase fw-bold">¡Conoce nuestras RRSS!</h5>
                    <ul class="list-unstyled">
                        <% for(let key in texts.socialMedia) { %>
                            <li class="me-3">
                                <a href="<%= texts.socialMedia[key].link %>"
                                    class="text-white fs-4 link-underline link-underline-opacity-0">
                                    <i class="<%= texts.socialMedia[key].icon %>"></i>
                                    <p class="d-inline fs-5"> <%= texts.socialMedia[key].name %></p>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <p class="text-light text-center">Si detectas algún error o dato incorrecto, puedes reportarlo en la dirección: <a href="mailto:<%= texts.emailElections %>" class="text-white"><%= texts.emailElections %></a></p>
            <p class="text-light fst-italic text-center">
                <a href="https://github.com/da-upm/participa" class="text-white" style="text-decoration: none;">
                    <i class="bi bi-github"></i>
                </a>
                </a> 
                © 2024 Delegación de Alumnos UPM. Todos los derechos reservados.
            </p>
        </div>
    </footer>

    <button id="scrollToTopBtn" class="btn btn-daupm bg-daupm text-white rounded-circle" style="display: none; position: fixed; bottom: 20px; right: 20px; z-index: 1000;" data-bs-toggle="tooltip" data-bs-placement="left" title="Volver arriba">
        <i class="bi bi-caret-up-fill"></i>
    </button>

    <script>
        document.addEventListener("scroll", function() {
            var scrollToTopBtn = document.getElementById("scrollToTopBtn");
            var footer = document.querySelector("footer");
            var footerRect = footer.getBoundingClientRect();
            var windowHeight = window.innerHeight;

            if (document.documentElement.scrollTop > 20) {
                scrollToTopBtn.style.display = "block";
            } else {
                scrollToTopBtn.style.display = "none";
            }

            if (footerRect.top < windowHeight) {
                scrollToTopBtn.classList.remove("btn-daupm", "bg-daupm", "text-white");
                scrollToTopBtn.classList.add("btn-light", "bg-light", "text-daupm");
            } else {
                scrollToTopBtn.classList.remove("btn-light", "bg-light", "text-daupm");
                scrollToTopBtn.classList.add("btn-daupm", "bg-daupm", "text-white");
            }
        });

        document.getElementById("scrollToTopBtn").addEventListener("click", function() {
            var tooltip = bootstrap.Tooltip.getInstance(this);
            if (tooltip) {
                tooltip.hide();
            }
            document.documentElement.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>

    <script>
        document.documentElement.style.setProperty('--nav-height', document.querySelector('nav').offsetHeight + 'px');
        document.documentElement.style.setProperty('--footer-height', document.querySelector('footer').offsetHeight + 'px');
    </script>
</body>
</html>