<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="proposalDetailModalLabel">Definir compromiso</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" id="proposalId" name="id" value="<%= proposal._id %>">
            <h4 id="proposalTitle">
                <%= proposal.title %>
            </h4>
            
            <p>
                <% proposal.categories.forEach((categoryId)=> { %>
                    <span class="badge bg-primary">
                        <%= categories[categoryId] %>
                    </span>
                    <% }) %>
            </p>

                <p id="proposalDescription">
                    <%- proposal.description %>
                </p>

                <hr>

                <% if (proposal.centres && proposal.centres.length > 0) { %>
                    <p><strong>Escuelas desde las que se propone:</strong> <span id="proposingCentres">
                        <%= proposal.centres.map(c => centres[c]).join(', ') %>
                    </span></p>
                <% } %>

                <%- include('../proposalParams', {proposal}) %>

                <hr>

                <div>
                    <form hx-delete="/api/commitments/proposals/<%= proposal._id.toString() %>" hx-ext="json-enc"
                        hx-target="#toastr-container"
                        hx-on::after-request="if (event.detail.xhr.status === 200) {$('#proposalCommitmentModal').modal('hide'); htmx.ajax('GET', '/api/admin/proposals', { target: '#adminProposalsTableBody' })};">
                        <label for="rejectionReason"><b>Compromiso con la propuesta:</b></label>
                        
                        <textarea id="proposalCommitmentModalContent" name="content"
                            required></textarea>
                        
                        
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
                        </div>
                    </form>
                </div>
        </div>


        <div class="modal-footer mt-5">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>

<script>
    $('#proposalCommitmentModal').on('shown.bs.modal', () => {
        $('#proposalCommitmentModalContent').summernote({
            placeholder: 'Indica cómo se compromete tu candidatura con esta propuesta...',
            height: 300,
            toolbar: [
                ['style', ['bold', 'italic', 'underline']],
                ['para', ['ul', 'ol']]
            ],
            fontNamesIgnoreCheck: ['Helvetica'],
        });
    });
</script>