<div class="container mt-5">
    <!-- Header Section -->
    <div class="text-center">
        <h1>Estadísticas de la plataforma</h1>
        <p class="lead">Resumen de las estadísticas actuales de las propuestas y usuarios.</p>
    </div>

    <!-- Statistics Table -->
    <div class="table-responsive m-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Estadística</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Número total de usuarios</td>
                    <td>
                        <%= totalUsers %>
                    </td>
                </tr>
                <tr>
                    <td>Número total de propuestas</td>
                    <td>
                        <%= totalProposals %>
                    </td>
                </tr>
                <tr>
                    <td>Número de propuestas borrador</td>
                    <td>
                        <%= draftProposals %>
                    </td>
                </tr>
                <tr>
                    <td>Número de propuestas publicadas</td>
                    <td>
                        <%= publishedProposals %>
                    </td>
                </tr>
                <tr>
                    <td>Propuesta con más apoyos</td>
                    <td>
                        <%= proposalWithMostSupport ? proposalWithMostSupport.title : 'N/A' %>
                    </td>
                </tr>
                <tr>
                    <td>Número máximo de apoyos</td>
                    <td>
                        <%= maxSupport %>
                    </td>
                </tr>
                <tr>
                    <td>Número medio de apoyos</td>
                    <td>
                        <%= averageSupport.toFixed(2) %>
                    </td>
                </tr>
                <tr>
                    <td>Número de propuestas por centro</td>
                    <td>
                        <% Object.keys(proposalsByCentre).forEach(centreId=> { %>
                            <span>
                                <%= centres[centreId] %>: <%= proposalsByCentre[centreId] %>
                            </span>
                            <br>
                            <% }) %>
                    </td>
                </tr>
                <tr>
                    <td>Número de propuestas por afiliación</td>
                    <td>
                        <% Object.keys(proposalsByAffiliation).forEach(affiliationId=> { %>
                            <span>
                                <%= affiliations[affiliationId] %>: <%= proposalsByAffiliation[affiliationId] %>
                            </span>
                            <br>
                            <% }) %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>