<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <%= proposal.title %>
        </h5>
        <p class="card-text">
            <%- proposal.description.substring(0, 100) %>...
        </p>
        <% proposal.categories.forEach((categoryId)=> { %>
            <span class="badge bg-primary">
                <%= categories[categoryId] %>
            </span>
            <% }) %>
                <p class="mt-2">Apoyos: <%= proposal.supporters %>
                </p>
                <p>Candidatos que apoyan: <%= proposal.candidatesSupporters %>
                </p>
                <button class="btn btn-link view-more" hx-get="/api/proposals/<%= proposal._id.toString() %>"
                    hx-target="#proposalDetailModal" hx-on::after-request="$('#proposalDetailModal').modal('show')">Ver
                    más</button>
                <%- include('supportButton')  %>
    </div>
</div>