<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <%= proposal.title %>
        </h5>
        <p class="card-text">
            <%= proposal.description.substring(0, 100) %>...
        </p>
        <% proposal.categories.forEach((category)=> { %>
            <span class="badge bg-primary">
                <%= category %>
            </span>
            <% }) %>
                <p class="mt-2">Apoyos: <%= proposal.supporters %>
                </p>
                <p>Candidatos que apoyan: <%= proposal.candidatesSupporters %>
                </p>
                <button class="btn btn-link view-more" hx-get="/api/proposals/<%= proposal._id.toString() %>"
                    hx-target="#proposalDetailModal" hx-on::after-request="$('#proposalDetailModal').modal('show')">Ver
                    más</button>
                <% if (user?.supportedProposals.includes(proposal.id)) { %>
                    <button class="btn btn-outline-success"
                        hx-delete="/api/proposals/<%= proposal._id.toString() %>/support"
                        hx-on::beforeRequest="$(this).prop('disabled', true); $('.support-button-spinner').show()"
                        hx-target="#proposal-card-<%= proposal._id.toString() %>"><span
                            class="spinner-border spinner-border-sm support-button-spinner" aria-hidden="true"></span>
                        Apoyando</button>
                    <% } else { %>
                        <button class="btn btn-success" hx-post="/api/proposals/<%= proposal._id.toString() %>/support"
                            hx-on::beforeRequest="$(this).prop('disabled', true); $('.support-button-spinner').show()"
                            hx-target="#proposal-card-<%= proposal._id.toString() %>"><span
                                class="spinner-border spinner-border-sm support-button-spinner"
                                aria-hidden="true"></span> Apoyar</button>
                        <% } %>
    </div>
</div>