<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <%= proposal.title %>
        </h5>
        <p class="card-text">
            <%- proposal.description.replace(/<\/?[^>]+(>|$)/g, "").substring(0, 100) %>...
        </p>
        <% proposal.categories.forEach((categoryId)=> { %>
            <span class="badge bg-primary">
                <%= categories[categoryId] %>
            </span>
            <% }) %>

            <%- include('proposalParams', {proposal}) %>

            <button class="btn btn-link view-more" hx-get="/api/proposals/<%= proposal._id.toString() %>"
                hx-target="#proposalDetailModal"
                hx-swap="innerHTML"
                hx-on::after-request="$('#proposalDetailModal').modal('show')">Ver
                más</button>
            <%- include('supportButton') %>
    </div>
</div>