<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="proposalDetailModalLabel">Detalles de la Propuesta</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h4 id="proposalTitle">
                <%= proposal.title %>
            </h4>
            <p>
                <% proposal.categories.forEach((categoryId)=> { %>
                    <span class="badge bg-primary">
                        <%= categories[categoryId] %>
                    </span>
                    <% }) %>
            </p>
            <p id="proposalDescription">
                <%- proposal.description %>
            </p>
            <p><strong>Apoyo: </strong>
                <span class="badge 
                <%= proposal.support ? (proposal.support === 'low' ? 'bg-danger' : proposal.support === 'medium' ? 'bg-warning' : 'bg-success') : 'bg-secondary' %>">
                    <%= proposal.support ? (proposal.support==='low' ? 'Bajo' : proposal.support==='medium' ? 'Medio'
                        : 'Alto' ) : 'Desconocido' %>
                </span>
            </p>
            <% if (proposal.candidatesSupporters && proposal.candidatesSupporters.length > 0) { %>
                <p><strong>Candidaturas que apoyan:</strong> <span id="proposalSupportingCandidates">
                    <%= proposal.candidatesSupporters.map(c => c).join(', ') %>
                </span></p>
            <% } %>

            <% if (proposal.affiliations && proposal.affiliations.length > 0) { %>
                <p><strong>Colectivos que proponen:</strong> <span id="proposalSupportingCandidates"></span>
                    <%= proposal.affiliations.map(affiliationId => affiliations[affiliationId]).join(', ') %>
                </span></p>
            <% } %>

            <% if (proposal.centres && proposal.centres.length > 0) { %>
                <p><strong>Escuelas desde las que se propone:</strong> <span id="proposalSupportingCandidates">
                    <%= proposal.centres.map(c => centres[c]).join(', ') %>
                </span></p>
            <% } %>
            


            <div class="text-center justify-content-center">
                <%- include('supportButton') %>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>