
    <div class="form-check form-switch d-flex justify-content-center">
        <input class="form-check-input align-center"
            type="checkbox"
            id="<%= flag %>"
            name="<%= flag %>"
            value="<%= featureValue %>"
            <% if (featureValue) { %>checked<% } %>
            <% if (featureValue) { %>
                hx-delete="/api/admin/features/<%= flag %>"
            <% } else { %>
                hx-put="/api/admin/features/<%= flag %>"
            <% } %>
            hx-trigger="change"
            hx-target="closest tr"
            hx-swap="outerHTML"
            hx-target-error="#toastr-container"
        >
    </div>