
<div class="accordion mb-3" id="socialMediaAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button"
                data-bs-toggle="collapse" data-bs-target="#socialMediaCollapse"
                aria-expanded="false" aria-controls="socialMediaCollapse">
                Redes Sociales
            </button>
        </h2>
        <div id="socialMediaCollapse" class="accordion-collapse collapse"
            data-bs-parent="#socialMediaAccordion">
            <div class="accordion-body">
                <div class="form-group mb-3">
                    <div class="card">
                        <div class="card-body" id="socialMediaContainer">
                            <% if(texts.socialMedia.length==0) { %>
                                <div class="form-row mb-4">
                                    <div class="col mb-4">
                                        <label for="socialMediaIcon0">Icono</label>
                                        <select id="socialMediaIcon0"
                                            name="socialMedia[0][icon]"
                                            class="form-control">
                                            <% for(let key in icons) { %>
                                                <option value="<%= icons[key] %>">
                                                    <%= key.charAt(0).toUpperCase() +
                                                        key.slice(1) %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                    <div class="col mb-4">
                                        <label for="socialMediaName0">Nombre</label>
                                        <input type="text" id="socialMediaName0"
                                            name="socialMedia[0][name]"
                                            class="form-control" value="">
                                    </div>
                                    <div class="col mb-4">
                                        <label for="socialMediaLink0">Enlace</label>
                                        <input type="text" id="socialMediaLink0"
                                            name="socialMedia[0][link]"
                                            class="form-control" value="">
                                    </div>
                                </div>
                                <% } else { %>
                                    <% let index=0; %>
                                        <% for(let social in texts.socialMedia) { %>
                                            <% if(social> 0) { %>
                                                <div class="social-media-separator">
                                                </div>
                                                <% } %>
                                                    <div class="form-row mb-4">
                                                        <div class="col mb-4">
                                                            <label
                                                                for="socialMediaIcon<%= index %>">Icono</label>
                                                            <select
                                                                id="socialMediaIcon<%= index %>"
                                                                name="socialMedia[<%= index %>][icon]"
                                                                class="form-control"
                                                                selected="<%= texts.socialMedia[social].icon %>">
                                                                <% for(let key in icons)
                                                                    { %>
                                                                    <% if(icons[key]==texts.socialMedia[social].icon)
                                                                        { %>
                                                                        <option
                                                                            value="<%= icons[key] %>"
                                                                            selected>
                                                                            <%= key.charAt(0).toUpperCase()
                                                                                +
                                                                                key.slice(1)
                                                                                %>
                                                                        </option>
                                                                        <% } else { %>
                                                                            <option
                                                                                value="<%= icons[key] %>">
                                                                                <%= key.charAt(0).toUpperCase()
                                                                                    +
                                                                                    key.slice(1)
                                                                                    %>
                                                                            </option>
                                                                            <% } %>
                                                                                <% } %>
                                                            </select>
                                                        </div>
                                                        <div class="col mb-4">
                                                            <label
                                                                for="socialMediaName<%= index %>">Nombre</label>
                                                            <input type="text"
                                                                id="socialMediaName<%= index %>"
                                                                name="socialMedia[<%= index %>][name]"
                                                                class="form-control"
                                                                value="<%= texts.socialMedia[social].name %>">
                                                        </div>
                                                        <div class="col mb-4">
                                                            <label
                                                                for="socialMediaLink<%= index %>">Enlace</label>
                                                            <input type="text"
                                                                id="socialMediaLink<%= index %>"
                                                                name="socialMedia[<%= index %>][link]"
                                                                class="form-control"
                                                                value="<%= texts.socialMedia[social].link %>">
                                                        </div>
                                                        <div
                                                            class="col-auto mb-4 d-flex align-items-end">
                                                            <button type="button"
                                                                class="btn btn-danger"
                                                                onclick="removeSocialMedia(this)">
                                                                <i
                                                                    class="bi bi-trash"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <% index++ %>
                                                        <% } %>
                                                            <% } %>
                        </div>
                        <button type="button" class="btn btn-secondary mt-3"
                            id="addSocialMediaButton">
                            Añadir red social</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>