                <!-- Basic Information Form -->
                <div class="accordion mb-3" id="basicInfoAccordion-<%= candidate._id %>">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#basicInfoCollapse-<%= candidate._id %>" aria-expanded="false"
                                aria-controls="basicInfoCollapse-<%= candidate._id %>">
                                Informaci칩n B치sica
                            </button>
                        </h2>
                        <div id="basicInfoCollapse-<%= candidate._id %>" class="accordion-collapse collapse"
                            data-bs-parent="#basicInfoAccordion-<%= candidate._id %>">
                            <div class="accordion-body">
                                <div class="form-row">
                                    <div class="form-group mb-4">
                                        <label for="name-<%= candidate._id %>">Nombre</label>
                                        <input type="text" id="name-<%= candidate._id %>" name="name"
                                            class="form-control" value="<%= candidate.name %>">
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="surname-<%= candidate._id %>">Apellido</label>
                                        <input type="text" id="surname-<%= candidate._id %>" name="surname"
                                            class="form-control" value="<%= candidate.surname %>">
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="username-<%= candidate._id %>">Nombre de usuario</label>
                                        <input type="text" id="username-<%= candidate._id %>" name="username"
                                            class="form-control" value="<%= candidate.username %>">
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="email-<%= candidate._id %>">Correo Electr칩nico</label>
                                        <input type="email" id="email-<%= candidate._id %>" name="email"
                                            class="form-control" value="<%= candidate.email %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="imageURL-<%= candidate._id %>">Direcci칩n de imagen</label>
                                        <input type="text" id="imageURL-<%= candidate._id %>" name="imageURL"
                                            class="form-control" value="<%= candidate.imageURL %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="programUrl-<%= candidate._id %>">Enlace al programa</label>
                                        <input type="link" id="programUrl-<%= candidate._id %>" name="programUrl"
                                            class="form-control" value="<%= candidate.programUrl %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>