
<div class="col-md-6" id="resultForm-<%= result._id %>">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-dark m-4">Configuración de
                <%= result.name %>
            </h5>
            <form id="resultForm-<%= result._id %>">
                <input type="hidden" name="_id" value="<%= result._id %>">
               
                <div class="m-3"></div>
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= result.name %>">
                </div>

                <div class="m-3">
                    <label for="color" class="form-label">Color</label>
                    <input type="color" class="form-control" id="color" name="color" value="<%= result.color %>">
                </div>

                <div class="m-3">
                    <label class="form-label">Votos</label>
                    <div class="input-group m-2">
                        <span class="input-group-text">Grupo A</span>
                        <input type="number" class="form-control" name="votes.groupA" value="<%= result.votes.groupA %>">
                    </div>
                    <div class="input-group m-2">
                        <span class="input-group-text">Grupo B</span>
                        <input type="number" class="form-control" name="votes.groupB" value="<%= result.votes.groupB %>">
                    </div>
                    <div class="input-group m-2">
                        <span class="input-group-text">Grupo C</span>
                        <input type="number" class="form-control" name="votes.groupC" value="<%= result.votes.groupC %>">
                    </div>
                    <div class="input-group m-2">
                        <span class="input-group-text">Grupo D</span>
                        <input type="number" class="form-control" name="votes.groupD" value="<%= result.votes.groupD %>">
                    </div>
                </div>

                <button type="button" class="btn btn-primary m-3" 
                        hx-post="/api/admin/result/change" 
                        hx-trigger="click"
                        hx-target="#resultForm-<%= result._id %>" 
                        hx-include="#resultForm-<%= result._id %>"
                        hx-swap="outerHTML" 
                        hx-target-error="#toastr-container">
                    Guardar resultado
                </button>

                
            </form>
            <button type="button" class="btn btn-danger m-3" 
                    hx-delete="/api/admin/result/delete"
                    hx-trigger="click"
                    hx-vals='{"_id": "<%= result._id %>"}'
                    hx-target="#resultForm-<%= result._id %>" 
                    hx-swap="outerHTML" 
                    hx-confirm="¿Estás seguro de que deseas eliminar el resultado <%= result.name %>?"
                    hx-target-error="#toastr-container">
                    <i class="bi bi-trash"></i> Eliminar
                </button>
        </div>
    </div>
</div>